[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "interlineaR"]
	path = interlineaR
	url = https://github.com/sylvainloiseau/interlinear
